server {
    listen 9090;
    client_max_body_size 30m;
    location / {
      proxy_set_header Host <%= @host %>;
      proxy_set_header Authorization "Basic <%= @auth %>";
      proxy_pass https://<%= @host %>;
      proxy_http_version 1.1;
    }
}
<% if node['gitlab-proxy']['log-proxy']['redirects_enable'] %>
server {
    listen 9090;

<% node['gitlab-proxy']['log-proxy']['redirects'].each do |redirect| -%>
    server_name "<%= redirect['domain'] %>";
    rewrite ^ https://<%= redirect['target'] %>$request_uri?;

<% end -%>
}
<% end %>
